# gradle

.gradle/
build/classes
build/generated
build/loom-cache
build/reports
build/resources
build/tmp
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store


# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr
